<%= form_for(@glossary) do |f| %>
  <% if @glossary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@glossary.errors.count, "error") %> prohibited this glossary from being saved:</h2>

      <ul>
      <% @glossary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr><td><%= f.label :term %></td><td><%= f.text_field :term %></td></tr>
    <tr><td><%= f.label :language %></td><td><%= f.select :language, [["English",1], ["Spanish",2]] %></td></tr>
    <tr><td><%= f.label :definition %></td><td><%= f.text_area :definition %></td></tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
