<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_glossary_path(@glossary) %> |
<%= link_to 'Back', glossaries_path %>

<div class="glossary-term">
<dt><%= @glossary.term %></dt>
<dd><%= @glossary.definition %></dd>
</div>