<table>
  <% unless heading.nil? %>
	<h2><%= heading %></h2>
  <% end %>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  	<% brochures.each do |brochure| %>
    <tr>
        <% unless brochure.nil? %>
        <td><%= brochure.topic.html_safe %></td>
        <% end %>
        <td><%= link_to 'Show', brochure %></td>
        <% if current_admin %>
        <td><%= link_to 'Edit', edit_brochure_path(brochure) %></td>
        <td><%= link_to 'Destroy', brochure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>