<%= form_for(@brochure) do |f| %>
  <% if @brochure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brochure.errors.count, "error") %> prohibited this brochure from being saved:</h2>

      <ul>
      <% @brochure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr><td><%= f.label :topic %></td><td><%= f.text_field :topic %></td></tr>
    <tr><td><%= f.label :name %></td><td><%= f.text_field :name %></td></tr>
    <tr><td><%= f.label :languge %></td><td><%= f.select :language, [["English",1], ["Spanish",2]] %></td></tr>
    <tr><td><%= f.label :group %></td><td><%= f.select :group_id, 
                                              Brochure.english_groups.each_with_index.map {|name,index| [name,index+1]} %></td></tr>
    <tr><td><%= f.label :pdf_link, "PDF Link" %></td><td><%= f.text_field :pdf_link %></td></tr>
    <tr><td><%= f.label :author_hist, "Authorship History" %></td><td><%= f.text_area :author_hist %></td></tr>
    <tr><td><%= f.label :content %></td><td><%= f.cktext_area :content, class: 'ckeditor' %></td></tr>
  </table>

  <div>
  <h3>Tags</h3>
  <% if current_page?(edit_brochure_path(@brochure)) %>
    <% Brochure.english_tags.each do |t| %>
      <% if @tag_list.include? t.name %>
        <%= f.check_box :tag_list, {checked: true, multiple: true}, t, nil %><span><%= t %></spam></br>
      <% else %>
        <%= f.check_box :tag_list, {multiple: true}, t, nil %><span><%= t %></spam></br>
      <% end %>
    <% end %>
  <% else %>
    <% Brochure.english_tags.each do |t| %>
      <%= f.check_box :tag_list, {multiple: true}, t, nil %><span><%= t %></spam></br>
    <% end %>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
