<h1>Listing Articles</h1>
<div class="nav-links">
<%= link_to 'home', root_path %> 
<% if current_admin %>
| <%= link_to 'New Article', new_brochure_path %>
<% end %>
</div>

<div class="left-col">
<h2>English Articles</h2>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g1,
                                                    heading: Brochure.groups[0][0]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g2,
                                                    heading: Brochure.groups[1][0]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g3,
                                                    heading: Brochure.groups[2][0]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g4,
                                                    heading: Brochure.groups[3][0]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g5,
                                                    heading: Brochure.groups[4][0]} %>
</div>

<div class="right-col">
<h2>Spanish Articles</h2>
<%= render partial: 'brochures_by_group', locals: { brochures: @spanish_brochures_g1,
                                                    heading: Brochure.groups[0][1]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @spanish_brochures_g2,
                                                    heading: Brochure.groups[1][1]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @spanish_brochures_g3,
                                                    heading: Brochure.groups[2][1]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @spanish_brochures_g4,
                                                    heading: Brochure.groups[3][1]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @spanish_brochures_g5,
                                                    heading: Brochure.groups[4][1]} %>
</div>