<h1>Listing Articles</h1>
<%= link_to 'home', root_path %> | <%= link_to 'New Article', new_brochure_path %>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g1,
                                                    heading: Brochure.english_groups[0]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g2,
                                                    heading: Brochure.english_groups[1]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g3,
                                                    heading: Brochure.english_groups[2]} %>
<%= render partial: 'brochures_by_group', locals: { brochures: @english_brochures_g4,
                                                    heading: Brochure.english_groups[3]} %>
