<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_brochure_path(@brochure) %> | <%= link_to 'Back', brochures_path %>

<table>
	<h1><%= @brochure.name %></h1>
	<tr>
    <th></th>
    <th></th>
  </tr>
  <% unless @tags.nil? %>
  <tr>
    <td class="first-column">Tags</td>
    <td><%= @tags %></td>
  </tr>
  <% end %>
  <tr>
    <td class="first-column">Revised Date</td>
    <td><% if @brochure.updated_at.nil? %><%= @brochure.raw_updated_at %>
    		<% else %><%= @brochure.updated_at.year %><% end %>
    </td>
  </tr>
	<tr>
    <td class="first-column">Original Date</td>
    <td><% if @brochure.created_at.nil? %><%= @brochure.raw_created_at %>
    		<% else %><%= @brochure.created_at.year %><% end %>
    </td>
  </tr> 
  <% unless @brochure.author_hist.blank? %>
  <tr>
    <td class="first-column">Authorship History</td>
    <td><%= @brochure.author_hist %></td>
  </tr>
  <% end %>
</table>

<div>
	<%= simple_format @brochure.content %>
</div>
