<div class="container">

<% if admin_signed_in? %>
<%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
<% else %>
<%= link_to "Sign up", new_admin_registration_path %>
<%= link_to "Log in", new_admin_session_path %>
<% end %>

</br>

<%= link_to 'Articles', brochures_path %>
<%= link_to 'Glossary', glossaries_path %>
<%= link_to 'Resources', resources_path %>

</div>