<h1>Listing Resources</h1>
<%= link_to 'home', root_path %> | <%= link_to 'New Resource', new_resource_path %>

<% @brochures.each do |b| %>
  <% if not b.resources.blank? %>
    <table>
      <h2><%= b.topic %></h2>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% b.resources.each do |r| %>
        <tr>
          <td><%= r.name %></td>
          <td><%= link_to 'Show', r %></td>
          <td><%= link_to 'Edit', edit_resource_path(r) %></td>
          <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
